<template>

    <v-layout row wrap>

        <v-flex xs12 md6 lg4 v-for="(place, key) in places" :key="key" >

            <v-card flat tile>
            
                <v-img
                :src="'https://source.unsplash.com/640x480/?' + place.name"
                aspect-ratio="2.75"
                ></v-img>

                <v-card-title primary-title>
                    <div>
                        <h3 class="headline mb-0">{{place.name}}</h3>
                        <div>                
                            <ul v-for="(item, key) in place.main" :key="key+item">
                                <li>{{key}}: {{item}}</li>
                            </ul> 
                        </div>
                    </div>
                </v-card-title>

                <v-card-actions>
                    <v-btn flat color="primary" @click="updatePlaceWeather(key)">Update</v-btn>
                    <v-btn flat color="red" @click="deletePlace(key)">Delete</v-btn>
                </v-card-actions>
                
            </v-card>
                
                            
                
        </v-flex>

    </v-layout>


</template>

<script>
    export default {
        props: {
            places: {
                type: Object,
                required: true
            }
        },
        methods:{
            deletePlace(key){
                //console.log(key)
                this.$store.dispatch('REMOVE_PLACE_FROM_WEATHER', key)
            },
            updatePlaceWeather(key){
                //console.log(key)
                this.$store.dispatch('REMOVE_PLACE_FROM_WEATHER', key).then(() => {
                    this.$store.dispatch('GET_WEATHER_DATA_BY_ID', key)
                })
            }
        }
    }
</script>

<style scope>

</style>