<template>

    <section>

       <v-container fluid fill-height indigo lighten-5 grid-list-md>

          <v-layout row wrap>

              <v-flex xs12 sm6 offset-sm3>
                  <v-container fluid>
                      <v-layout row>
                          <v-flex>
                            <v-alert :value="getError" type="warning">
                              {{getError}}
                            </v-alert>
                          </v-flex>
                      </v-layout>

                      <v-layout row>
                        <v-flex>
                          <v-text-field name="place" label="Input place name" type="text" required v-model="place"></v-text-field>
                        </v-flex>
                      </v-layout>

                      <v-layout row>
                        <v-flex class="text-xs-center">
                          <v-btn flat dark outline color="primary" @click.prevent="getWeatherByPlace" :disabled="!valid">
                            <v-icon class="primary--text">add</v-icon>
                            Add weather place
                          </v-btn>
                        </v-flex>
                      </v-layout>

                  </v-container>                  
                      
                  <Place :places="JSON.parse(getWeatherData)" />

              </v-flex>

          </v-layout>

      </v-container>

    </section>    

</template>

<script>
import axios from 'axios'

import { mapGetters } from 'vuex'

import Place from './Place';

export default {
  components: { 
    Place 
  },
  data() {
    return {
      place: ''
    }
  },
  computed:{
    ...mapGetters(['getError', 'getWeatherData']),
    valid() {
      return this.place;
    },
  },
  mounted() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(
        (position) => {
          this.getWeatherByCoords(position)
          //console.log(position)
        }, (error) => {
          console.log(error)
        }
      )
    } else {
      console.log('Not supported. Please update your browser now!')
    }

  },
  methods: {
    getWeatherByCoords(position) {

      let coords = {}

      coords.lat = position.coords.latitude
      coords.lon = position.coords.longitude

      //console.log('coords: ', coords)
    
      this.$store.dispatch('GET_WEATHER_DATA_BY_COORDS', coords)
      
    },
    getWeatherByPlace() {

      //console.log('place: ', this.place)
    
      this.$store.dispatch('GET_WEATHER_DATA_BY_PLACE', this.place)

      this.place = ''
      
    },
  },
  watch:{
    place: function (value) {
      if(value.lenght !== '') this.$store.commit('CLEAR_ERROR')
    }
  }
}
</script>

<style scoped>

</style>
