<template>
  <v-app>

    <v-toolbar class="white">
      <v-toolbar-title>Weather</v-toolbar-title>
    </v-toolbar>

    <v-content>
      
      <Weather/>

    </v-content>

    <v-footer class="blue darken-2">
      <v-layout row wrap align-center>
        <v-flex xs12>

        </v-flex>
      </v-layout>
    </v-footer>

  </v-app>
</template>

<script>
import Weather from './components/Weather.vue'

export default {
  name: 'app',
  components: {
    Weather
  }
}
</script>

<style>

</style>
